* { 
    box-sizing: border-box; 
} 
    
body { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    background-color: #e3c1ff; 
    min-height: 100vh; 
} 
button:hover {
    color: #c7abe0;
    background-color:  #4e335a; 
    transition: all 0.5s ease-in;
}
    
button { 
    border-radius: 30px; 
    font-family: 'Montserrat', sans-serif; 
    height: 60px; 
    width: 60px; 
    color: #c7abe0;
    background-color:  #270736; 
    font-size: inherit; 
    font-weight: inherit; 
} 
    
h1 { 
    font-family: 'Montserrat', sans-serif; 
    font-size: 24px; 
    color: #270736;
} 
 
.teclado { 
grid-template-columns: repeat(3,1fr);  
background-color: #8f7ab1; 
border-radius: 30px; 
padding: 30px; 
} 


 
input[type=tel] { 
color: #8f7ab1;
background-color:  #270736; 
border-radius: 10px; 
font-family: monospace; 
font-size: 22px; 
height: 40px; 
margin-bottom: 24px; 
padding: 10px; 
text-align: center; 
width: 280px; 
} 